.bookImage {
    border: 3px solid black;
    width: 500px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    margin: 20px;

}

.bookTitle {
  font-size: 45px;
  font-weight: bold;
  font-family: Palatino;
}

.authorName {
  font-size: 22px;
  font-style: italic;
  font-weight: lighter;
  font-family: Palatino;
}

.aboutBook {
  font-size: 15px;
  font-weight: lighter;
  font-family: Palatino;
}

.modal {
   color: black; 
}

 b {
     font-size: 20px;
     font-family: Palatino;
     color: red;
     display: flex;
     justify-content: center;
 }

 .modalButtons {
    display: flex;
    justify-content: center;
    padding-bottom:20px;

 }

 h3 {
     color: black;
     font-size: 40px;
     display: inline-flex;
     flex-direction: column;
     font-style: normal;
     font-weight: normal;
     
 }

 p {
     color: black;
     display: inline-flex;
     flex-direction: column;
     font-style: normal;
 }

 .aboutPub {
    color: black;
    font-size: 15px;
    display: inline-flex;
    flex-direction: column;
    font-style: italic;
 }
 

 .container .Book {
     display: flex;
     flex-direction: column;
    /* display: inline-flex; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* border: 2px solid black; */
    /* padding: 10px 10px 20px 10px; */
    /* border: 1px solid #BFBFBF; */
    border: 2px solid black;
    /* background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa; */
    /* box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green; */
    /* border-radius: 20px; */
    /* padding-bottom: 20px; */
    /* margin-bottom: 30px;
    width: 300px;
    height: 500px; */
    /* padding: 20px; */
    /* background-color: white; */
    width: 40%;
    margin-bottom: 10px;
    
 }

 .reviewsSection {
     border-top: 2px solid black;
     background-color:  #F6F5F5;
 }

 .container {
    border: solid 2px red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; */
  
  }

 


 /* .modal {
     background-color: grey;
 } */