.commentText {
    font-size: 15px;
  }

  .user {
    font-size: 25px;
    font-style: normal;
    font-weight: lighter;
    font-family: Palatino;
  }

  .comment {
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    font-family: Palatino;
  }

  .commentText {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }